.myside
   %nav.myside--top
      %li.myside--top__list__active
         = link_to "マイページ", new_user_path, class: 'myside--top__list__box'
         = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
         お知らせ
         = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
         やることリスト
         = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
         いいね！一覧
         = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
         = link_to "出品する", new_good_path, class: 'myside--top__list__box'
         = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
         出品した商品 出品中
         = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
         出品した商品 取引中
         = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
         購入した商品 売却済み
         = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
         購入した商品 取引中
         = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
         購入した商品 過去の取引
         = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
         ニュース一覧
         = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
         ガイド
         = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
         お問い合わせ
         = icon "fas",'chevron-right', class: 'icon'
   %h3.myside--while
      メルペイ
   %ul.myside--while__list
      %li.myside--while__list__tag
         売り上げ・振込申請
         = icon "fas",'chevron-right', class: 'icon'
      %li.myside--while__list__tag
         ポイント申請
         = icon "fas",'chevron-right', class: 'icon'
   %h3.myside--under
      設定
   %ul.myside--under__list
      プロフィール
      = icon "fas",'chevron-right', class: 'icon'
   %ul.myside--under__list
      発送先・お届け先住所変更
      = icon "fas",'chevron-right', class: 'icon'
   %ul.myside--under__list
      支払い方法
      = icon "fas",'chevron-right', class: 'icon'
   %ul.myside--under__list
      メール/パスワード
      = icon "fas",'chevron-right', class: 'icon'
   %ul.myside--under__list
      本人情報
      = icon "fas",'chevron-right', class: 'icon'
   %ul.myside--under__list
      電話番号の確認
      = icon "fas",'chevron-right', class: 'icon'
   %ul.myside--under__list
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout-btn'
      = icon "fas",'chevron-right', class: 'icon'