= render 'toppage/header'
= render "toppage/button"
= render "user_pankz"


.user-main
  = render "side"
  .mys--purchase
    %h4.mys--purchase__head
      購入した商品
    %ul.mys--purchase__situation
      %li.active
        %h5
          取引中
      %li.kako
        %h5
          過去の取引
    .mys--purchase--under
      %ul.mys--purchase--under
        %li.mys--purchase--under--box
          取引中の商品がありません


= render 'toppage/footer'
