= render 'toppage/header'
= render "toppage/button"
= render "user_pankz"


.user-main
  = render "side"
  .phone__content
    .phone__content__head
      %h2.phone__content__head__text 完了
    .phone__content__body
      %p.phone__content__body__text 確認済みです

= render 'toppage/footer'