= render 'toppage/header'
= render "toppage/button"
= render "user_pankz"


.user-main
  = render "side"
  .page-pass
    .page-pass__box
      %h2
        メール/パスワード
    .form-sign




= render 'toppage/footer'