= render 'toppage/header'
= render "toppage/button"
= render "user_pankz"


.user-main
  = render "side"
  .user-main__sell
    .user-main__sell__head
      出品した商品
    %ul.user-main__sell__body
      %li.active
        出品中
      %li.dealing
        取引中
      %li.sold
        売却済み
    .mys--purchase--under
      %ul.mys--purchase--under
        %li.mys--purchase--under--box
          取引中の商品がありません

= render 'toppage/footer'
