= render 'toppage/header'
= render "user_pankz"

.likes
  .likes--box
    .likes--box__list
      %h2
        いいね！一覧
      %img
        = image_tag "/assets/sample2.jpeg", size:'698x240'
    .likes--box__choose
      %li
        = icon "fas",'chevron-left', class: 'icon'
      %li
        = icon "fas",'chevron-right', class: 'icon'
  = render 'side.html.haml'
= render 'toppage/footer.html.haml'















