= render 'toppage/header.html.haml'
= render "user_pankz"

.notice
  .notice--box
    .notice--box__main
      お知らせ
    .notice--box__list
      やることリスト
    .notice--box__img
      = image_tag"footer3.png", size:'698x240'


  = render 'side.html.haml'
= render 'toppage/footer.html.haml'
