= render 'toppage/header.html.haml'
.mypage
  .mymain
    .mymain--user
      .mymain--user__img
        .mymain--user__img__block
          .mymain--user__img__block__face
            = image_tag"sample1.jpeg", size:'60x60'
          
          .mymain--user__img__name
            仮の人
          .mymain--user__img__name__text
            %div
              評価者
              %span
                0
            %div
              出品数
              %span
                0
         
      .mymain--user__todo
        %ul.mymain--user__todo
          %li.mymain--user__todo__active
            お知らせ
          %li.mymain--user__todo__do
            やることリスト
          .mymain--user__todo__list
          .mymain--user__todo__btn
            %a
              一覧を見る

    .mymain--purchase
      %h4.mymain--purchase__head
        購入した商品
      %ul.mymain--purchase__situation
        %li.active
          %h5
            取引中
        %li
          %h5
            過去の取引
      .mymain--purchase--under
        %ul.mymain--purchase--under
          %li.mymain--purchase--under--box
            取引中の商品がありません
  .myside
    %nav.myside--top
      %li.myside--top__list__active
        マイページ
        = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
        お知らせ
        = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
        やることリスト
        = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
        いいね！一覧
        = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
        出品する
        = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
        出品した商品 出品中
        = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
        出品した商品 取引中
        = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
        購入した商品 売却済み
        = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
        購入した商品 取引中
        = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
        購入した商品 過去の取引
        = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
        ニュース一覧
        = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
        ガイド
        = icon "fas",'chevron-right', class: 'icon'
      %li.myside--top__list
        お問い合わせ
        = icon "fas",'chevron-right', class: 'icon'
    %h3.myside--while
      メルペイ
    %ul.myside--while__list
      %li.myside--while__list__tag
        売り上げ・振込申請
        = icon "fas",'chevron-right', class: 'icon'
      %li.myside--while__list__tag
        ポイント申請
        = icon "fas",'chevron-right', class: 'icon'
    %h3.myside--under
      設定
    %ul.myside--under__list
      プロフィール
      = icon "fas",'chevron-right', class: 'icon'
    %ul.myside--under__list
      発送先・お届け先住所変更
      = icon "fas",'chevron-right', class: 'icon'
    %ul.myside--under__list
      支払い方法
      = icon "fas",'chevron-right', class: 'icon'
    %ul.myside--under__list
      メール/パスワード
      = icon "fas",'chevron-right', class: 'icon'
    %ul.myside--under__list
      本人情報
      = icon "fas",'chevron-right', class: 'icon'
    %ul.myside--under__list
      電話番号の確認
      = icon "fas",'chevron-right', class: 'icon'
    %ul.myside--under__list
      ログアウト
      = icon "fas",'chevron-right', class: 'icon'

= render 'toppage/footer.html.haml'