= render 'toppage/header.html.haml'
= render "user_pankz"

.todo
  .todo--box
    .todo--box__notice
      お知らせ
    .todo--box__list
      やることリスト
    .todo--box__img
      = image_tag"footer3.png", size:'698x240'


  = render 'side.html.haml'
= render 'toppage/footer.html.haml'
