= render "header"
= render "button"
.toppage
  .fadeSlider
    %span.fadeSlider_01
    %span.fadeSlider_02
    %apan.fadeSlider_03
  .top_popularity_ca
    %h2.top_popularity_ca__title 人気のカテゴリー
    %ul.top_popularity_ca__tags
      %li.top_popularity_ca__tags__tag
        = link_to "レディース", category_path(1)
      %li.top_popularity_ca__tags__tag
        = link_to "メンズ", category_path(2)
      %li.top_popularity_ca__tags__tag
        = link_to "家電・スマホ・カメラ", category_path(3)
      %li.top_popularity_ca__tags__tag
        = link_to "おもちゃ・ホビー・グッズ", category_path(4)
  .top_ca
    .top_ca__ca_block
      .top_ca__ca_block__title
        レディース新着アイテム
        .top_ca__ca_block__name
        .top_ca__ca_block__more_see
          = link_to "もっと見る", category_path(@ladies.id)
          = icon "fas",'chevron-right', class: 'icon'
      .top_ca__ca_block__box
        - @ladies_goods.each do |good|
          -if good.buy
            = render "good-sold", { good: good } 
          - else
            = render "good", { good: good } 

       
  .top_ca
    .top_ca__ca_block
      .top_ca__ca_block__title
        メンズ新着アイテム
        .top_ca__ca_block__name
        .top_ca__ca_block__more_see
          = link_to "もっと見る", category_path(@mens.id)
          = icon "fas",'chevron-right', class: 'icon'
      .top_ca__ca_block__box
        - @mens_goods.each do |good|
          -if good.buy
            = render "good-sold", { good: good } 
          - else
            = render "good", { good: good } 
 
  
  .top_ca
    .top_ca__ca_block
      .top_ca__ca_block__title
        家電・スマホ・カメラ新着アイテム
        .top_ca__ca_block__name
        .top_ca__ca_block__more_see
          = link_to "もっと見る ", category_path(@electronics.id)
          = icon "fas",'chevron-right', class: 'icon'
      .top_ca__ca_block__box
        - @electronics_goods.each do |good|
          -if good.buy
            = render "good-sold", { good: good } 
          - else
            = render "good", { good: good } 

  
  .top_ca
    .top_ca__ca_block
      .top_ca__ca_block__title
        おもちゃ・ホビー・グッズ新着アイテム
        .top_ca__ca_block__name
        .top_ca__ca_block__more_see
          = link_to "もっと見る", category_path(@hobbies.id)
          = icon "fas",'chevron-right', class: 'icon'
      .top_ca__ca_block__box
        - @hobbies_goods.each do |good|
          = render "good", { good: good }

  .top_popularity_ca
    %h2.top_popularity_ca__title 人気のブランド
    %ul.top_popularity_ca__tags
      %li.top_popularity_ca__tags__tag
        = link_to "シャネル", brand_path(1)
      %li.top_popularity_ca__tags__tag
        = link_to "ルイヴィトン", brand_path(3)
      %li.top_popularity_ca__tags__tag
        = link_to "シュプリーム", brand_path(4)
      %li.top_popularity_ca__tags__tag
        = link_to "ナイキ", brand_path(2)
  .top_ca
    .top_ca__ca_block
      .top_ca__ca_block__title
        シャネル新着アイテム
        .top_ca__ca_block__name
        .top_ca__ca_block__more_see
          = link_to "もっと見る", brand_path(@chanel.id)
          = icon "fas",'chevron-right', class: 'icon'
      .top_ca__ca_block__box
        - @chanel_goods.each do |good|
          -if good.buy
            = render "good-sold", { good: good } 
          - else
            = render "good", { good: good } 

  .top_ca
    .top_ca__ca_block
      .top_ca__ca_block__title
        ルイヴィトン新着アイテム
        .top_ca__ca_block__name
        .top_ca__ca_block__more_see
          = link_to "もっと見る", brand_path(@louis.id)
          = icon "fas",'chevron-right', class: 'icon'
      .top_ca__ca_block__box
        - @louis_goods.each do |good|
          -if good.buy
            = render "good-sold", { good: good } 
          - else
            = render "good", { good: good } 

  .top_ca
    .top_ca__ca_block
      .top_ca__ca_block__title
        シュプリーム新着アイテム
        .top_ca__ca_block__name
        .top_ca__ca_block__more_see
          = link_to "もっと見る", brand_path(@supreme.id)
          = icon "fas",'chevron-right', class: 'icon'
      .top_ca__ca_block__box
        - @supreme_goods.each do |good|
          -if good.buy
            = render "good-sold", { good: good } 
          - else
            = render "good", { good: good } 

  .top_ca
    .top_ca__ca_block
      .top_ca__ca_block__title
        ナイキ新着アイテム
        .top_ca__ca_block__name
        .top_ca__ca_block__more_see
          = link_to "もっと見る", brand_path(@nike.id)
          = icon "fas",'chevron-right', class: 'icon'
      .top_ca__ca_block__box
        - @nike_goods.each do |good|
          -if good.buy
            = render "good-sold", { good: good } 
          - else
            = render "good", { good: good } 

= render "footer"
      
      