= render "toppage/header"
.buy-show
  .buy-box
    .buy-box__note
      購入内容確認
    .buy-box__detail
      .buy-box__detail__img
        = image_tag @good.images[0].image, class: 'buy-box__detail__img__thumbnail'
      .buy-box__detail__text
        .buy-text
          %ul
            %li
              = @good.name
            %li
              = @good.burden
            %li
              = @good.method
            %li
              = @good.area.name
        .buy-box__price
          ¥
          = @good.price
          .item-box__price__tax
    .user-box
      .user-box__detail
        .user-box__detail__title
          配送先情報
        .user-box__detail__name
          = current_user.family_name
          = current_user.first_name
        .user-box__address
        %br
          = @address.post
          = @address.prefecture + @address.city + @address.address + @address.buil
          
    .button-box
      .button-box__body
        = link_to '購入する', good_buys_path(@good), class: 'button-box__body__buy'
    .buy-box__footer
  .footer