.show
  .header
  .item-box
    .item-box__name
      = @goods.name
    .item-box__detail
      .item-box__detail__img
        .item-box__detail__img__top
          = image_tag "show.png",class:"img-main"
        .small-images
          .small-images__img
          .small-images__img
          .small-images__img
          .small-images__img
          .small-images__img
          .small-images__img
          .small-images__img
          .small-images__img
          .small-images__img
          .small-images__img
      %table
        %tbody
          %tr
            %th
              出品者
            %td
              = @user.name
              %br
              ☺︎4541  ☺︎50  ☺︎6
          %tr
            %th
              カテゴリー
            %td
              メンズ
              %br
              ＞トップス
              %br
              ＞シャツ
          %tr
            %th
              ブランド
            %td
              brand name
          %tr
            %th
              商品のサイズ
            %td
              S
          %tr
            %th
              商品の状態
            %td
              新品
          %tr
            %th
              配送料の負担
            %td
              送料込み(出品者負担)
          %tr
            %th
              配送の方法
            %td
              ゆうゆうメルカリ便
          %tr
            %th
              配送元地域
            %td
              東京都
          %tr
            %th
              発送日の目安
            %td
              1~2日で発送
    .item-box__price
      .item-box__price__main
        ¥ 5,000
      .item-box__price__tax
        (税込) 送料込み
    .item-box__buy
      購入画面に進む
    .item-box__caution
      この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
    .item-box__description
      ※他にも出品しております☆
      %br
      %br
      ■ブランド名
      %br
      FTC
      %br
      %br
      ■サイズ 
      %br
      着丈 65センチ
      %br
      肩幅 41センチ
      %br
      身幅（脇下採寸） 56センチ
      %br
      袖丈 59センチ
      %br
      （素人採寸の為、多少の誤差はご了承下さい）
      %br
      %br
      ■カラー
      %br
      レッド×ホワイト×ブラック
      %br
      %br
      ■素材
      %br
      綿100%
      %br
      %br
      ■状態 
      %br
      特に目立つ傷や汚れはありません☆個人保管ですので完璧をお求めの方はお控え下さい☆
      %br
      %br
      ■説明
      %br
      素敵なオンブレチェックシャツになります☆
      %br
      着心地も良く、着用時のシルエットもとても綺麗だと思います☆
      %br
      是非この機会に宜しくお願い致します☆      
    .item-box__footer
      .item-box__footer__left
        .item-box__footer__left__good
          ♡ いいね！4 
        .item-box__footer__left__bad
          🏳不適切な商品の報告
      .item-box__footer__right
        🔒あんしん・あんぜんへの取り組み
  .comment-box
    .comment-box__content
      .comment-box__content__caution
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .comment-box__content__textarea
      .comment-box__content__btn
        コメントする
  .link-box
    .link-box__left
      新品■XS■マルジェラ 17aw■4連リング■銀製■シルバー■7257
    .link-box__right
      ソフトケースタイプ・肌色入り サクラクーピーペンシル 12色
  .sns-box
    .none
    .sns-box__container
      %a{href: 'https://ja-jp.facebook.com/mercarijp/'}
        = icon'fab','facebook-square',class:'icon f'
      %a{href: 'https://twitter.com/mercari_jp?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor'}
        = icon'fab','twitter-square',class:'icon t'
      %a{href: 'http://line.me/'}
        = icon'fab','line',class:'icon l'
      %a{href: 'https://www.pinterest.jp/'}
        = icon'fab','pinterest-square',class:'icon p'
  .items-box
    .items-box__other
      .items-box__other__text
        tanchanさんのその他の出品
      .items-box__other__img
        .other-good
          .other-good__img
            = image_tag "show.png",class:"img-6"
          .other-good__text
            .other-good__text__name
              good name
            .other-good__text__price
              ¥ 10,000
        .other-good
          .other-good__img
            = image_tag "show.png",class:"img-6"
          .other-good__text
            .other-good__text__name
              good name
            .other-good__text__price
              ¥ 10,000
        .other-good2
          .other-good__img
            = image_tag "show.png",class:"img-6"
          .other-good__text
            .other-good__text__name
              good name
            .other-good__text__price
              ¥ 10,000
        .other-good
          .other-good__img
            = image_tag "show.png",class:"img-6"
          .other-good__text
            .other-good__text__name
              good name
            .other-good__text__price
              ¥ 10,000
        .other-good
          .other-good__img
            = image_tag "show.png",class:"img-6"
          .other-good__text
            .other-good__text__name
              good name
            .other-good__text__price
              ¥ 10,000
        .other-good2
          .other-good__img
            = image_tag "show.png",class:"img-6"
          .other-good__text
            .other-good__text__name
              good name
            .other-good__text__price
              ¥ 10,000
    .items-box__same
      .items-box__same__text
        エフティーシーのシャツ その他の商品
      .items-box__same__img
        .same-good
          .same-good__img
            = image_tag "show.png",class:"img-6"
          .same-good__text
            .same-good__text__name
              good name
            .same-good__text__price
              ¥ 20,000
        .same-good
          .same-good__img
            = image_tag "show.png",class:"img-6"
          .same-good__text
            .same-good__text__name
              good name
            .same-good__text__price
              ¥ 20,000
        .same-good2
          .same-good__img
            = image_tag "show.png",class:"img-6"
          .same-good__text
            .same-good__text__name
              good name
            .same-good__text__price
              ¥ 20,000
        .same-good
          .same-good__img
            = image_tag "show.png",class:"img-6"
          .same-good__text
            .same-good__text__name
              good name
            .same-good__text__price
              ¥ 20,000
        .same-good
          .same-good__img
            = image_tag "show.png",class:"img-6"
          .same-good__text
            .same-good__text__name
              good name
            .same-good__text__price
              ¥ 20,000
        .same-good2
          .same-good__img
            = image_tag "show.png",class:"img-6"
          .same-good__text
            .same-good__text__name
              good name
            .same-good__text__price
              ¥ 20,000
  .item-name
    %ul.item-name__text
      %li
        メルカリ >
      %li
        FTC☆オンブレチェックシャツ☆オンブレシャツ☆チェックシャツ☆ボタンシャツ☆
  .footer