= render "toppage/header"
.show
  .item-box
    .item-box__name
      = @good.name
    .item-box__word
    - if user_signed_in?
      -if @good.buy
        .item-box__word__box
          ※ この商品はすでに購入されております ※
    - else
      .item-box__word__box-1
        #{@good.name}は、###回の取引実績を持つ
        #{link_to @good.user.nick_name, root_path, class: 'word-link'}
        さんから出品されました。
        #{link_to @good.brand.name, root_path, class: 'word-link'}（
        - category_link = @good.categories[2].name + '/' + @good.categories[0].name
        = link_to category_link, category_path(@good.categories[2].id), class: 'word-link'
        ）の商品で、
        #{@good.area.name}
        から
        #{@good.ship}
        で発送されます。
    .item-box__detail
      .item-box__detail__img
        .big-images
          - @good.images.each do |image|
            = image_tag image.image, size: "300x300", class: 'item-box__detail__img__top'
        .small-images
          - @good.images.each do |image|
            = image_tag image.image,  size: "60x60", class: 'small-images__img'
      %table
        %tbody
          %tr
            %th
              出品者
            %td
              = link_to @good.user.nick_name, root_path
              %br
              ☺︎4541  ☻50  ☹6
          %tr
            %th
              カテゴリー
            %td
              = link_to @good.categories[0].name, category_path(@good.categories[0].id)
              %br
              %i.fas.fa-chevron-right
                = link_to @good.categories[1].name, category_path(@good.categories[1].id)
              %br
              %i.fas.fa-chevron-right
                = link_to @good.categories[2].name, category_path(@good.categories[2].id)
          %tr
            %th
              ブランド
            %td
              -unless @good.brand.nil?
                = link_to @good.brand.name, brand_path(@good.id)
              -else 
                なし
          %tr
          - if @good.size.present?
            %th
              商品のサイズ
            %td
              = @good.size
          %tr
            %th
              商品の状態
            %td
              = @good.status
          %tr
            %th
              配送料の負担
            %td
              = @good.burden
          %tr
            %th
              配送の方法
            %td
              = @good.method
          %tr
            %th
              配送元地域
            %td
              = link_to @good.area.name, root_path
          %tr
            %th
              発送日の目安
            %td
              #{@good.ship}で発送
    .item-box__price
      ¥
      .item-box__price__main
        = @good.price.to_s(:delimited)
      .item-box__price__tax
        (税込) 送料込み
    -if @good.buy
      %p.item-box__buy 購入済みの商品
    -else
      = link_to '購入画面に進む', good_buys_path(@good.id), class: 'item-box__buy'
    .item-box__caution
      この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
    .item-box__description
      = simple_format @good.explain   
    .item-box__footer
      .item-box__footer__left
        .item-box__footer__left__good
          ♡ いいね！4 
        .item-box__footer__left__bad
          🏳不適切な商品の報告
      .item-box__footer__right
        🔒あんしん・あんぜんへの取り組み
  .comment-box
    .comment-box__content
      .comment-box__content__caution
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .comment-box__content__textarea
      .comment-box__content__btn
        コメントする
  .link-box
    .link-box__left
      新品■XS■マルジェラ 17aw■4連リング■銀製■シルバー■7257
    .link-box__right
      ソフトケースタイプ・肌色入り サクラクーピーペンシル 12色
  .sns-box
    .none
    .sns-box__container
      %a{href: 'https://ja-jp.facebook.com/mercarijp/'}
        = icon'fab','facebook-square',class:'icon f'
      %a{href: 'https://twitter.com/mercari_jp?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor'}
        = icon'fab','twitter-square',class:'icon t'
      %a{href: 'http://line.me/'}
        = icon'fab','line',class:'icon l'
      %a{href: 'https://www.pinterest.jp/'}
        = icon'fab','pinterest-square',class:'icon p'
  .items-box
    .items-box__other
      .items-box__other__text
        #{@good.user.nick_name}さんのその他の出品
      .items-box__other__img
        -@user_goods.each do |good|
          = render 'othergood', { good: good }

    .items-box__same
      .items-box__same__text
        #{@category.name} その他の商品
      .items-box__same__img
        -@category_goods.each do |good|
          = render 'othergood-ca', { good: good }

  .item-name
    %ul.item-name__text
      %li
        メルカリ >
      %li
        FTC☆オンブレチェックシャツ☆オンブレシャツ☆チェックシャツ☆ボタンシャツ☆
  = render 'toppage/footer.html.haml'