%header
  = render "toppage/header"
  .header-ca-nav
    .header-ca-nav-pankuze
      %span
        = link_to "フリマケ", root_path
        %i.fas.fa-angle-right
        = link_to "カテゴリー一覧", root_path
      
        - if @parent.nil?
          %i.fas.fa-angle-right
          = link_to category.name, category_path(category.id), class: "pankuzu-ca-last"
        -elsif @parent.parent.present?
          %i.fas.fa-angle-right
          = link_to category.parent.parent.name, category_path(category.parent.parent.id)
          %i.fas.fa-angle-right
          = link_to category.parent.name, category_path(category.parent.id)
          %i.fas.fa-angle-right
          = link_to category.name, category_path(category.id), class: "pankuzu-ca-last"
        -else 
          %i.fas.fa-angle-right
          = link_to category.parent.name, category_path(category.parent.id)
          %i.fas.fa-angle-right
          = link_to category.name, category_path(category.id), class: "pankuzu-ca-last"