= render 'header', { category: @category }
= render "toppage/button.html.haml"
.category
  .large--box
    .large--box--top
      %ul
        - @children.each do |child|
          %li
            = link_to child.name, category_path(child.id)
    .large--box--middle
      = @category.name
      の商品一覧
    .large--box--main
      .large--box--item
        -@category.goods.each do |good|
          = render "good", { good: good }
      
    .page
      .page--num
        %ul
          %li.page--choose__active
            1
          %li.page--choose
            %a
              2
          %li.page--choose
            %a
              3
          %li.page--choose
            %a
              4
          %li.page--choose
            %a
              5
      .page--next
        %li.page--next__1btn
          = icon "fas","chevron-right", class: "icon"
        %li.page--next__2btn
          = icon "fas","chevron-right", class: "icon"
          = icon "fas","chevron-right", class: "icon"
    .category--name
      .category--name__box
        %h3.category--name__box__text
          = @category.name
      .category--name__suggest
        %p レディースの着ない服、いらない洋服を売るならメルカリへ。レディースの商品は100万点以上あります。人気のあるカテゴリーはデニム/ジーンズと長財布です。人気の商品は「ブラッパーズ デニム パンツ」や「228 ダコタ（Dakota） 長財布　新品」があります。レディースの買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。


= render 'toppage/footer.html.haml'